<p> 
	<span class="field_label"> 
	<%= label %> 
	</span> 
	<span class="form_field"> 
		<%= element %>
		<span class="form_error_message">
 			<div class="fieldWithErrors"> 
				<%= params[:error] %>
			</div>
		</span>
	</span> 
</p> 
